In [1]:
import json
import os

from app.utils.universal_path import universal_path

cleaned_data_dir = universal_path("../../data/cleaned")
db_dir = universal_path("../../app/db")
mock_dir = universal_path("../../../frontend/src/mocks/data")

In [2]:
import pandas as pd
from typing import Optional

relevant_columns = ["BGGId", "Name", "YearPublished", "GameWeight", "AvgRating", "MinPlayers", "MaxPlayers",
                    "MfgPlaytime", "MfgAgeRec", "ImagePath"]
renamed_columns = ["id", "name", "yearPublished", "difficulty", "avgRating", "minPlayers", "maxPlayers", "playtime",
                   "minAge", "image"]


def export_to_json_as_list(df: pd.DataFrame, output_file: str, n: Optional[int] = None) -> None:
    if n is None:
        n = len(df)
    df = df[:n][relevant_columns].rename(columns=dict(zip(relevant_columns, renamed_columns)))
    df.to_json(output_file, orient='records', indent=2)


def export_to_json_as_dict(df: pd.DataFrame, output_file: str) -> None:
    df = df.set_index('BGGId', drop=False)
    df = df[relevant_columns].rename(columns=dict(zip(relevant_columns, renamed_columns)))
    df_dict = df.to_dict(orient='index')

    with open(output_file, 'w') as f:
        json.dump(df_dict, f, indent=2)

In [3]:
games = pd.read_csv(os.path.join(cleaned_data_dir, 'games.csv'))
games

,BGGId,Name,Description,YearPublished,GameWeight,AvgRating,BayesAvgRating,StdDev,MinPlayers,MaxPlayers,...,Rank:partygames,Rank:childrensgames,Cat:Thematic,Cat:Strategy,Cat:War,Cat:Family,Cat:CGS,Cat:Abstract,Cat:Party,Cat:Childrens
0,1,Die Macher,die macher game seven sequential political rac...,1986,4.3206,7.61428,7.10363,1.579790,3,5,...,21926,21926,0,1,0,0,0,0,0,0
1,2,Dragonmaster,dragonmaster tricktaking card game base old ga...,1981,1.9630,6.64537,5.78447,1.454400,3,4,...,21926,21926,0,1,0,0,0,0,0,0
2,3,Samurai,samurai set medieval japan player compete gain...,1998,2.4859,7.45601,7.23994,1.182270,2,4,...,21926,21926,0,1,0,0,0,0,0,0
3,4,Tal der Könige,triangular box luxurious large block tal der k...,1992,2.6667,6.60006,5.67954,1.231290,2,4,...,21926,21926,0,0,0,0,0,0,0,0
4,5,Acquire,acquire player strategically invest business t...,1964,2.5031,7.33861,7.14189,1.335830,2,6,...,21926,21926,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21914,346965,Azul: Queen's Garden,welcome palace sintra king manuel commission g...,2021,3.0714,7.67076,5.73362,1.332540,2,4,...,21926,21926,0,0,0,0,0,0,0,0
21915,347146,Salvage,oil tanker fire rescue team send deal damage...,2021,0.0000,7.45000,5.52462,1.554930,3,4,...,21926,21926,0,0,0,0,0,0,0,0
21916,347521,Blitzkrieg!: World War Two in 20 Minutes,new square edition include nippon expansion up...,2019,1.6667,7.92276,5.56323,0.894204,1,2,...,21926,21926,0,0,0,0,0,0,0,0
21917,348955,Rock Paper Scissors: Deluxe Edition,million year people force play timehonored gam...,2021,4.5625,6.96970,5.53964,4.052570,1,3,...,21926,21926,0,0,0,0,0,0,0,0
21918,349131,Splitter,splitter group number score point mdash s s md...,2021,1.0000,6.48235,5.52631,1.160070,1,12,...,21926,21926,0,0,0,0,0,0,0,0

In [4]:
export_to_json_as_dict(games, os.path.join(db_dir, 'gamesById.json'))

In [5]:
games_ordered_by_name = games.sort_values('Name', ascending=True)
games_ordered_by_name

,BGGId,Name,Description,YearPublished,GameWeight,AvgRating,BayesAvgRating,StdDev,MinPlayers,MaxPlayers,...,Rank:partygames,Rank:childrensgames,Cat:Thematic,Cat:Strategy,Cat:War,Cat:Family,Cat:CGS,Cat:Abstract,Cat:Party,Cat:Childrens
11450,122711,"""La Garde recule!""",quotla garde reculequot tenth game pocket batt...,2011,1.5455,5.39286,5.49772,1.46542,2,2,...,21926,21926,0,0,1,0,0,0,0,0
7104,23304,"""Oh My God! There's An Axe In My Head."" The Ga...",geneva league nation convene time proud host...,2014,2.1818,5.80771,5.50121,2.25363,2,6,...,21926,21926,0,0,0,0,0,0,0,0
2639,4016,"""Scratch One Flat Top!""",recreation battle coral sea warn magic japanes...,1995,3.2353,7.42250,5.55369,1.38111,2,4,...,21926,21926,0,0,1,0,0,0,0,0
8744,38836,"""Tarleton's Quarter!""",quottarleton quarterquot game british attempt ...,2010,2.7692,7.06000,5.54290,1.60200,2,2,...,21926,21926,0,0,1,0,0,0,0,0
20507,286535,#MyLife,live life miniature mdash life mdash mylife ca...,2019,2.0000,5.65446,5.50490,1.40297,2,6,...,21926,21926,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12053,134547,卑怯なコウモリ (Cowardly Bat),hiky na kmori quotcowardly batquot card game b...,2012,1.2000,5.51935,5.50037,1.49395,4,7,...,21926,21926,0,0,0,0,0,0,0,0
15439,189218,曼荼羅 (Mandara),mandala type painting represent buddhist inter...,2015,3.0000,6.95000,5.52465,1.14592,3,4,...,21926,21926,0,0,0,0,0,0,0,0
14728,177572,猿道 (Monkey Road),user summarya partyesque card game play human ...,2015,1.0000,5.84641,5.50547,1.76444,2,4,...,21926,21926,0,0,0,0,0,0,0,0
21799,335467,白と黒でトリテ (Trick-Taking in Black and White),tricktaking black white card suit mdash bl...,2021,1.0000,6.94706,5.52844,1.19613,2,4,...,21926,21926,0,0,0,0,0,0,0,0
16906,216497,聖杯サクセション (Throne and the Grail),king near death mdash succeed win gather suppo...,2016,1.8000,6.96744,5.67616,1.26775,2,2,...,21926,21926,0,0,0,0,0,0,0,0

In [6]:
export_to_json_as_list(games_ordered_by_name, os.path.join(db_dir, 'gamesOrderedByName.json'))

In [7]:
games_ordered_by_rank = games.sort_values('Rank:boardgame', ascending=True)
games_ordered_by_rank

,BGGId,Name,Description,YearPublished,GameWeight,AvgRating,BayesAvgRating,StdDev,MinPlayers,MaxPlayers,...,Rank:partygames,Rank:childrensgames,Cat:Thematic,Cat:Strategy,Cat:War,Cat:Family,Cat:CGS,Cat:Abstract,Cat:Party,Cat:Childrens
14509,174430,Gloomhaven,gloomhaven game euroinspired tactical combat...,2017,3.8699,8.74997,8.51488,1.63975,1,4,...,21926,21926,1,1,0,0,0,0,0,0
13702,161936,Pandemic Legacy: Season 1,pandemic legacy cooperative campaign game over...,2015,2.8336,8.59678,8.44451,1.56179,2,4,...,21926,21926,1,1,0,0,0,0,0,0
17328,224517,Brass: Birmingham,brass birmingham economic strategy game sequel...,2018,3.9058,8.66562,8.41573,1.24126,2,4,...,21926,21926,0,1,0,0,0,0,0,0
14059,167791,Terraforming Mars,s mankind begin terraform planet mar giant cor...,2016,3.2441,8.41879,8.27421,1.38764,1,5,...,21926,21926,0,1,0,0,0,0,0,0
17833,233078,Twilight Imperium: Fourth Edition,twilight imperium fourth edition game galactic...,2017,4.2497,8.67916,8.25955,1.60640,3,6,...,21926,21926,1,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5264,11428,Supermarina I: Command at Sea Volume II,war mediterranean rommel afrika korps capture ...,1996,4.3636,7.59310,5.56341,1.31147,2,12,...,21926,21926,0,0,0,0,0,0,0,0
7944,30933,BANG! The Bullet!,bang bullet deluxe version bang expansion come...,2007,1.8489,6.92087,6.58407,1.41909,3,8,...,21926,21926,0,0,0,0,0,0,0,0
13672,161617,Dungeon Lords: Happy Anniversary,dungeon lords happy anniversary include dungeo...,2014,3.9231,8.18864,6.47771,1.19201,2,4,...,21926,21926,0,0,0,0,0,0,0,0
19997,275626,Dominion Einsteiger-Bigbox,bigbox dominion newcomer include basic game nd...,2019,2.0000,8.43382,5.55442,1.20555,2,4,...,21926,21926,0,0,0,0,0,0,0,0
16447,206236,Wallenstein Big Box,game description publisherwallenstein set thir...,2016,3.3333,7.72352,5.63148,1.54368,3,5,...,21926,21926,0,0,0,0,0,0,0,0

In [8]:
export_to_json_as_list(games_ordered_by_rank, os.path.join(db_dir, 'gamesOrderedByRank.json'))

In [9]:
ratings = pd.read_csv(os.path.join(cleaned_data_dir, 'user_ratings.csv'))
ratings

           BGGId  Rating       Username
0         213788     8.0      Tonydorrf
1         213788     8.0     tachyon14k
2         213788     8.0       Ungotter
3         213788     8.0    brainlocki3
4         213788     8.0           PPMP
...          ...     ...            ...
18340216  165521     3.0        rseater
18340217  165521     3.0      Bluefox86
18340218  165521     3.0     serginator
18340219  193488     1.0  CaptainCattan
18340220  193488     1.0      trodat123

[18340221 rows x 3 columns]

In [10]:
most_rated_games = ratings.groupby('BGGId').count().sort_values('Rating', ascending=False)
most_rated_games

        Rating  Username
BGGId
30549   100103    100103
822      99559     99559
13       96426     96426
68448    84002     84002
36218    76222     76222
...        ...       ...
228370      11        11
151070      11        11
171500      11        11
290500      10        10
207203      10        10

[21919 rows x 2 columns]

In [11]:
games_ordered_by_number_of_ratings = games.merge(most_rated_games, on='BGGId', how='inner').sort_values('Rating',
                                                                                                        ascending=False)
games_ordered_by_number_of_ratings

,BGGId,Name,Description,YearPublished,GameWeight,AvgRating,BayesAvgRating,StdDev,MinPlayers,MaxPlayers,...,Cat:Thematic,Cat:Strategy,Cat:War,Cat:Family,Cat:CGS,Cat:Abstract,Cat:Party,Cat:Childrens,Rating,Username
7919,30549,Pandemic,pandemic virulent disease break simultaneously...,2008,2.4072,7.59130,7.48919,1.32867,2,4,...,0,1,0,1,0,0,0,0,100103,100103
673,822,Carcassonne,carcassonne tileplacement game player draw pla...,2000,1.9064,7.41883,7.30890,1.30503,2,5,...,0,0,0,1,0,0,0,0,99559,99559
12,13,Catan,catan settler catan player try dominant force ...,1995,2.3139,7.13746,6.97148,1.48183,3,4,...,0,1,0,1,0,0,0,0,96426,96426
9861,68448,7 Wonders,leader great city ancient world gather resou...,2010,2.3258,7.73733,7.63557,1.27611,2,7,...,0,1,0,1,0,0,0,0,84002,84002
8459,36218,Dominion,quotyou monarch like parent ruler small pleasa...,2008,2.3547,7.61081,7.49999,1.42440,2,4,...,0,1,0,0,0,0,0,0,76222,76222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17506,228370,TerroriXico,description designeracross age terrifying mexi...,2018,2.5000,9.42857,5.50463,1.69513,2,4,...,0,0,0,0,0,0,0,0,11,11
13019,151070,Gladiatoris,gladiatoris board game player future exp...,2009,2.8000,9.22742,5.51917,1.15002,1,6,...,0,1,1,0,0,0,0,0,11,11
14281,171500,El Dorado Canyon,el dorado canyon simultaneousaction selection ...,2015,1.7500,8.73600,5.51732,1.15625,4,6,...,0,0,0,0,0,0,0,0,11,11
20662,290500,Flip & Fish,flip amp fish fast paced competitive player ...,2019,1.0000,9.13667,5.51644,1.03682,2,4,...,0,0,0,0,0,0,0,0,10,10
16504,207203,War Titans: Invaders Must Die!,description publisherwar titan crawl chaos gam...,0,3.0000,9.24138,5.50649,1.77444,1,4,...,0,0,0,0,0,0,0,0,10,10

In [12]:
export_to_json_as_list(games_ordered_by_number_of_ratings, os.path.join(db_dir, 'gamesOrderedByNumberOfRatings.json'))

## Export mock data

In [13]:
export_to_json_as_list(games_ordered_by_name, os.path.join(mock_dir, 'gamesOrderedByNameMock.json'), n=50)
export_to_json_as_list(games_ordered_by_rank, os.path.join(mock_dir, 'gamesOrderedByRankMock.json'), n=50)
export_to_json_as_list(games_ordered_by_number_of_ratings,
                       os.path.join(mock_dir, 'gamesOrderedByNumberOfRatingsMock.json'), n=50)