In [3]:
import pandas as pd

from app.utils.universal_path import universal_path

data_path = universal_path('../../../data/user_ratings.csv')
full_df = pd.read_csv(data_path)

display(full_df.shape)
full_df.head()

(18942215, 3)

    BGGId  Rating     Username
0  213788     8.0    Tonydorrf
1  213788     8.0   tachyon14k
2  213788     8.0     Ungotter
3  213788     8.0  brainlocki3
4  213788     8.0         PPMP

# Has any user rated the same game more than once?
  - i.e. is combination BGGId and Username unique?

In [38]:
full_df.groupby(['Username', 'BGGId']).size().max()

10

No. Let's see those offending rows:

In [39]:
full_df[full_df.duplicated(['Username', 'BGGId'], keep=False)].sort_values(['Username', 'BGGId'])

           BGGId  Rating   Username
15423007   56933     3.0   -Johnny-
15772709   56933     5.0   -Johnny-
2242749   131357     6.0   -Johnny-
3885140   131357     7.0   -Johnny-
10096134   16747     7.0     -mIDE-
...          ...     ...        ...
3331337   128882     7.0    zzzoren
6472730    28720     9.0  zzzxxxyyy
9424644    28720     9.5  zzzxxxyyy
2872770    37111     7.2  zzzxxxyyy
2910081    37111     7.5  zzzxxxyyy

[64120 rows x 3 columns]

We should keep only the latest rating for each user/game combination.

In [40]:
full_df = full_df.drop_duplicates(['Username', 'BGGId'], keep='last')

In [41]:
full_df[full_df.duplicated(['Username', 'BGGId'], keep=False)].sort_values(['Username', 'BGGId'])

Empty DataFrame
Columns: [BGGId, Rating, Username]
Index: []

In [42]:
full_df[(full_df['Username'] == '-Johnny-') & (full_df['BGGId'] == 56933)]

          BGGId  Rating  Username
15772709  56933     5.0  -Johnny-

Perfect!